<ion-content class="ion-padding">
  <div class="login-container">
    <div class="header">
      <h2 class="subtitle">Hola de nuevo 👋</h2>
      <h1 class="title">Inicio Sesión</h1>
    </div>

    <ion-input label="Correo" type="email" [(ngModel)]="email"></ion-input>

    <ion-input label="Contraseña" type="password" [(ngModel)]="password"
      ><ion-input-password-toggle
        color="tertiary"
        slot="end"
      ></ion-input-password-toggle
    ></ion-input>

    <ion-button expand="block" (click)="handleLogin()">Ingresar</ion-button>

    <div class="separator">
      <span>O Inicia Sesión con</span>
    </div>

    <ion-button expand="block" color="light" (click)="googleLogin()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>

    <div class="footer">
      <span>¿No tienes una cuenta?</span>
      <a (click)="goToRegister()"> Regístrate</a>
      <br />
      <span>Recuerda leer</span>
      <a href="#"> Términos y condiciones</a>
    </div>
  </div>
</ion-content>
