ion-tabs {
  ion-tab-bar {
    position: relative;
    width: 90%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 30px;
    padding-bottom: 0;
    overflow: hidden;
    border: 1px solid rgba(2, 52, 54, 0.08);
    box-shadow: 0px -5px 10px rgb(103 58 183 / 8%);
    height: 60px;
    --background: rgb(103, 58, 183);
  }
}

ion-tab-button {
  --color: #b9b9b9;
  --color-selected: white;

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: white;
  }
}
