<ion-content [fullscreen]="true">
  <swiper-container #swiper init="false">
    <swiper-slide *ngFor="let slide of slides">
      <div class="slide-content">
        <img [src]="slide.image" [alt]="slide.title" />
        <h2>{{slide.title}}</h2>
        <p>{{slide.description}}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="footer">
    <div class="buttons">
      <ion-button
        *ngIf="currentSlideIndex === slides.length - 1; else nextButtons"
        expand="block"
        (click)="skipOnboarding()"
        class="start-button"
      >
        Comencemos
      </ion-button>

      <ng-template #nextButtons>
        <ion-button fill="clear" (click)="skipOnboarding()" class="skip-button">
          Saltar
        </ion-button>
        <ion-button (click)="goNextSlide()" class="next-button">
          Siguiente
        </ion-button>
      </ng-template>
    </div>
  </div>
</ion-content>
