<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="auto">
        <ion-back-button default-href="/tabs/store" text="">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-back-button>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="auto">
        <h3>Inventario</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-col>
      <ion-button size="small" (click)="setOpenModal(true)">
        Crear Producto
      </ion-button>
    </ion-col>
  </ion-grid>
  @if (isLoading){
  <div class="ion-text-center ion-padding">
    <ion-spinner color="tertiary"></ion-spinner>
    <p>Cargando servicios...</p>
  </div>
  }@else{
  <div class="product-card" *ngFor="let stock of stockData">
    <h3 class="product-name">{{stock.stockInfo.nombre}}</h3>
    <p class="product-description">{{stock.stockInfo.descripcion}}</p>

    <div class="bottom-section">
      <div class="cost-badge">Cantidad: {{stock.stockInfo.cantidad}}</div>
      <button
        class="menu-button"
        aria-label="Más opciones"
        id="option-popover-button"
        (click)="openStockOption($event, stock)"
      ></button>
    </div>
  </div>
  }
  <!--Create Product modal-->
  <ion-modal [isOpen]="isCreateModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title> Crear Producto </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div>
          <ion-input
            placeholder="Nombre Producto"
            [(ngModel)]="stockInfo.nombre"
          >
            <ion-icon
              name="help-circle-outline"
              id="btn1"
              slot="end"
              (click)="presentPopover($event, 'btn1')"
            ></ion-icon>
          </ion-input>
          <ion-textarea
            placeholder="Descripcion Producto"
            [(ngModel)]="stockInfo.descripcion"
          >
            <ion-icon
              name="help-circle-outline"
              id="btn2"
              slot="end"
              (click)="presentPopover($event, 'btn2')"
            ></ion-icon>
          </ion-textarea>
          <ion-input
            placeholder="Cantidad Producto"
            type="number"
            [(ngModel)]="stockInfo.cantidad"
          >
            <ion-icon
              name="help-circle-outline"
              id="btn3"
              slot="end"
              (click)="presentPopover($event, 'btn3')"
            ></ion-icon>
          </ion-input>
          <div class="buttons-row">
            <ion-button expand="block" (click)="createProduct()">
              Crear Producto
            </ion-button>
            <ion-button
              expand="block"
              fill="clear"
              color="medium"
              (click)="cancel()"
            >
              Cancelar
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!------------------------>
  <!-- Popover Info -->
  <ion-popover
    #popover
    [isOpen]="isOpenPopOver"
    (didDismiss)="isOpenPopOver = false"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <p>{{currentPopoverContent}}</p>
      </ion-content>
    </ng-template>
  </ion-popover>
  <!------------------>
  <!--optionPopover-->
  <ion-popover
    #optionsPopover
    [isOpen]="isOptionOpen"
    (didDismiss)="isOptionOpen = false"
  >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item (click)="deleteCurrentStock()"
            ><ion-icon name="trash-outline" slot="start"></ion-icon
            >Eliminar</ion-item
          >
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <!----------------->
  <!--Alert-->
  <ion-alert
    [isOpen]="isAlertServiceOpen"
    header="Elminar Producto"
    message="Al eliminar el producto se eliminara toda la información de este. ¿esta seguro?"
    [buttons]="alertServiceButtons"
    (didDismiss)="setAlertServiceOpen(false)"
  >
  </ion-alert>
  <!--------->
</ion-content>
