<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="auto">
        <ion-back-button default-href="/tabs/store" text="">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-back-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <!-- Tenemos que ver la forma de seleccionarla-->
    <ion-datetime
      color="rose"
      presentation="date"
      [min]="minDate"
      (ionChange)="onDateChange($event)"
    ></ion-datetime>
  </div>

  <div>
    <!-- Tenemos que ver la forma de seleccionarla-->
    <ion-picker>
      <ion-picker-column value="">
        <ion-picker-column-option value="">--</ion-picker-column-option>
        <ion-picker-column-option value="javascript"
          >Javascript</ion-picker-column-option
        >
        <ion-picker-column-option value="typescript" disabled="true"
          >Typescript</ion-picker-column-option
        >
        <ion-picker-column-option value="rust">Rust</ion-picker-column-option>
        <ion-picker-column-option value="c#">C#</ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </div>
</ion-content>
