<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  @if (isLoading){
  <div class="ion-text-center ion-padding">
    <ion-spinner color="tertiary"></ion-spinner>
    <p>Cargando servicios...</p>
  </div>
  }@else{
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="title">Tus citas</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      @if(cita){
      <div class="service-card">
        <div class="service-card__header">
          <div class="service-card__icon"></div>
          <div class="service-card__title">
            <h3>{{serviceCitaName}}</h3>
            <p>
              {{cita.dateData.nombreUsuario}} {{cita.dateData.apellidoUsuario}}
            </p>
          </div>
        </div>

        <div class="service-card__footer">
          <div class="service-card__time">
            {{cita.dateData.horaSeleccionada}}
          </div>
          <div
            class="service-card__menu"
            id="option-popover-button"
            (click)="openServiceOptions($event, cita.dateId)"
          ></div>
        </div>
      </div>
      } @else {
      <ion-card class="service-card">
        <p>Sin citas pronosticadas. 😉</p>
      </ion-card>
      }
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="title">Citas de Tienda</h2>
      </ion-col>
    </ion-row>
    <div class="cards-container" *ngFor="let citas of storeDates">
      @if(citas){
      <div class="appointment-card" (click)="openDateOption($event, citas)">
        <div class="client-name">
          {{citas.dateData.nombreUsuario}} {{citas.dateData.apellidoUsuario}}
        </div>
        <div class="service-name">
          Servicio: {{ serviceNames[citas.dateData.idServicio] }}
        </div>
        <div class="time">⏰ {{citas.dateData.horaSeleccionada}}</div>
      </div>
      } @else{
      <div class="appointment-card">No tienes citas</div>
      }
    </div>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="title">Categorias</h2>
        <div class="scroll-container">
          <div
            class="scroll-item"
            *ngFor="let category of categories"
            (click)="fetchCategory(category)"
          >
            <div class="icon-container">
              <ion-icon name="grid-outline"></ion-icon>
            </div>
            <p>{{category}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="title">Disponible</h2>
        <ion-card
          (click)="setModalStore(true, store.storeId)"
          *ngFor="let store of stores"
        >
          <ion-card-header>
            <ion-card-title> {{store.storeInfo.bussinessName}} </ion-card-title>
            <ion-card-subtitle
              ><ion-icon name="navigate-circle-outline"></ion-icon>
              {{store.storeInfo.direction}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-col
                *ngFor="let category of store.storeInfo.categories"
                size="auto"
              >
                <ion-chip [outline]="true">{{ category }}</ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  }

  <!-- Modal Store - MOVIDO FUERA DEL LOOP -->
  <ion-modal [isOpen]="isModalStore">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setModalStore(false, null)">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div *ngIf="getSelectedStore()">
          <ion-card class="appointment-card-modal">
            <ion-card-header>
              <ion-card-title>
                {{getSelectedStore()?.storeInfo?.bussinessName}}
              </ion-card-title>
              <ion-card-subtitle
                ><ion-icon name="navigate-circle-outline"></ion-icon>
                {{getSelectedStore()?.storeInfo?.direction}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-grid [fixed]="true">
              <ion-row>
                <ion-col
                  *ngFor="let category of getSelectedStore()?.storeInfo?.categories"
                  size="auto"
                >
                  <ion-chip color="light">{{ category }}</ion-chip>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>

        <ion-card
          *ngFor="let services of serviceStore"
          (click)="createDate(services.serviceId)"
        >
          <ion-card-header>
            <ion-card-subtitle>
              Tiempo Estimado: {{services.serviceData.tiempoEstimado}}, Costo:
              ${{services.serviceData.precio}}
            </ion-card-subtitle>
            <ion-card-title>
              {{services.serviceData.nombreServicio}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="descripcion-corta">
            {{services.serviceData.descripcionServicio}}
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="serviceStore.length === 0">
          <ion-card-header>
            <ion-card-title> Sin Servicios </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- optionPopOver -->
  <ion-popover
    #optionsPopover
    [isOpen]="isOptionsPopoverOpen"
    (didDismiss)="isOptionsPopoverOpen = false"
  >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item button detail="false" (click)="updateCurrentDate()">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Cancelar
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-alert
    [isOpen]="isAlertServiceOpen"
    header="Cancelar Cita"
    message="Al cancelar la cita, se perdera la cita. ¿esta seguro?"
    [buttons]="alertServiceButtons"
    (didDismiss)="setAlertServiceOpen(false)"
  >
  </ion-alert>

  <!--dateOptionPopover-->
  <ion-popover
    #dateOptionPopover
    [isOpen]="isDateOptionOpen"
    (didDismiss)="isDateOptionOpen = false"
    side="end"
  >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item (click)="updateClientDate('cancelada')">Cancelar</ion-item>
          <ion-item (click)="updateClientDate('En Proceso')"
            >En Proceso</ion-item
          >
          <ion-item (click)="updateClientDate('Finalizada')"
            >Finalizar</ion-item
          >
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <!--------------------->
</ion-content>
