.title {
  font-weight: bold;
  margin-left: 15px;
}

.appointment-card {
  background-color: #673ab7; // Color púrpura similar al de tu mockup
  color: white;
  border-radius: 12px;
  width: 100%;
  height: 170px;
  text-align: center;
  margin: 0 15px 20px 15px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointment-card p {
  margin: 0;
  line-height: 1.4;
}

.appointment-card-modal {
  background-color: #673ab7; // Color púrpura similar al de tu mockup
  color: white;
  ion-card-title {
    --color: white;
  }
  ion-card-subtitle {
    --color: #f3f3f3;
  }
}
