<ion-content class="ion-padding">
  <div class="register-container">
    <div class="register-header">
      <h2 class="register-subtitle">Únete a nosotros 👋</h2>
      <h1 class="register-title">Regístrate</h1>
    </div>

    <ion-input label="Correo" type="email" [(ngModel)]="email"></ion-input>

    <ion-input label="Contraseña" type="password" [(ngModel)]="password"
      ><ion-input-password-toggle
        color="tertiary"
        slot="end"
      ></ion-input-password-toggle
    ></ion-input>

    <ion-button expand="block" (click)="handleRegister()">Registrar</ion-button>

    <div class="register-separator">
      <span>O Regístrate con</span>
    </div>

    <ion-button expand="block" (click)="googleRegister()" color="light">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Google
    </ion-button>

    <div class="register-footer">
      <span>¿Ya tienes una cuenta?</span>
      <a (click)="goToLogin()"> Inicia Sesión</a>
      <br />
      <span>Recuerda leer</span>
      <a href="#"> Términos y condiciones</a>
    </div>
  </div>
</ion-content>
